.icon::before,
.icon::after,
.more::before,
.more::after {
    font-family: "SF Pro Icons";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ''
}

.icon::before,
.icon::after,
.more::before,
.more::after {
    text-decoration: none
}

.icon::before,
.more::before {
    display: none
}

.icon-after::after,
.more::after {
    padding-left: .3em;
    top: 0
}

.icon-before::before {
    padding-right: .3em;
    display: inline-block;
    top: 0
}

.icon-before::after {
    display: none
}

.icon-chevrondown::before,
.icon-chevrondown::after {
    content: "ïŒƒ"
}

.icon-chevrondowncircle::before,
.icon-chevrondowncircle::after {
    content: "ïŒ‡"
}

.icon-chevronleft::before,
.icon-chevronleft::after {
    content: "ïŒ€"
}

.icon-chevronleftcircle::before,
.icon-chevronleftcircle::after {
    content: "ïŒ„"
}

.icon-chevronright::before,
.icon-chevronright::after {
    content: "ïŒ"
}

.icon-chevronrightcircle::before,
.icon-chevronrightcircle::after {
    content: "ïŒ…"
}

.icon-chevronup::before,
.icon-chevronup::after {
    content: "ïŒ‚"
}

.icon-chevronupcircle::before,
.icon-chevronupcircle::after {
    content: "ïŒ†"
}

.icon-downloadcircle::before,
.icon-downloadcircle::after {
    content: "ïŒ«"
}

.icon-arrowupcircle::before,
.icon-arrowupcircle::after {
    content: "ô€¶"
}

.icon-external::before,
.icon-external::after {
    content: "ïŒ­"
}

.icon-share::before,
.icon-share::after {
    content: "ïŒ®"
}

.icon-search::before,
.icon-search::after {
    content: "î¨"
}

.icon-arkit::before,
.icon-arkit::after {
    content: "î¨ž"
}

.icon-pausecircle::before,
.icon-pausecircle::after {
    content: "ïŒŸ"
}

.icon-pausesolid::before,
.icon-pausesolid::after {
    content: "î¨ˆ"
}

.icon-playcircle::before,
.icon-playcircle::after {
    content: "ïŒž"
}

.icon-playsolid::before,
.icon-playsolid::after {
    content: "î¨‡"
}

.icon-replay::before,
.icon-replay::after {
    content: "ïŒ¡"
}

.icon-stopcircle::before,
.icon-stopcircle::after {
    content: "ïŒ "
}

.icon-stopsolid::before,
.icon-stopsolid::after {
    content: "î¨‰"
}

.icon-circle::before,
.icon-circle::after {
    content: "ïŒ¬"
}

.icon-check::before,
.icon-check::after {
    content: "ïŒ‹"
}

.icon-checkcircle::before,
.icon-checkcircle::after {
    content: "ïŒ‘"
}

.icon-checksolid::before,
.icon-checksolid::after {
    content: "ïŒ—"
}

.icon-reset::before,
.icon-reset::after {
    content: "ïŒˆ"
}

.icon-resetcircle::before,
.icon-resetcircle::after {
    content: "ïŒŽ"
}

.icon-resetsolid::before,
.icon-resetsolid::after {
    content: "ïŒ”"
}

.icon-exclamation::before,
.icon-exclamation::after {
    content: "ïŒŒ"
}

.icon-exclamationcircle::before,
.icon-exclamationcircle::after {
    content: "ïŒ’"
}

.icon-exclamationsolid::before,
.icon-exclamationsolid::after {
    content: "ïŒ˜"
}

.icon-exclamationtriangle::before,
.icon-exclamationtriangle::after {
    content: "î¨•"
}

.icon-exclamationtrianglesolid::before,
.icon-exclamationtrianglesolid::after {
    content: "î¨–"
}

.icon-infocircle::before,
.icon-infocircle::after {
    content: "ïŒª"
}

.icon-infosolid::before,
.icon-infosolid::after {
    content: "î¨”"
}

.icon-question::before,
.icon-question::after {
    content: "ïŒ"
}

.icon-questioncircle::before,
.icon-questioncircle::after {
    content: "ïŒ“"
}

.icon-questionsolid::before,
.icon-questionsolid::after {
    content: "ïŒ™"
}

.icon-plus::before,
.icon-plus::after {
    content: "ïŒ‰"
}

.icon-pluscircle::before,
.icon-pluscircle::after {
    content: "ïŒ"
}

.icon-plussolid::before,
.icon-plussolid::after {
    content: "ïŒ•"
}

.icon-minus::before,
.icon-minus::after {
    content: "ïŒŠ"
}

.icon-minuscircle::before,
.icon-minuscircle::after {
    content: "ïŒ"
}

.icon-minussolid::before,
.icon-minussolid::after {
    content: "ïŒ–"
}

.icon-1circle::before,
.icon-1circle::after {
    content: "ï‚"
}

.icon-2circle::before,
.icon-2circle::after {
    content: "ïƒ"
}

.icon-3circle::before,
.icon-3circle::after {
    content: "ï„"
}

.icon-4circle::before,
.icon-4circle::after {
    content: "ï…"
}

.icon-5circle::before,
.icon-5circle::after {
    content: "ï†"
}

.icon-6circle::before,
.icon-6circle::after {
    content: "ï‡"
}

.icon-7circle::before,
.icon-7circle::after {
    content: "ïˆ"
}

.icon-8circle::before,
.icon-8circle::after {
    content: "ï‰"
}

.icon-9circle::before,
.icon-9circle::after {
    content: "ïŠ"
}

.icon-10circle::before,
.icon-10circle::after {
    content: "ï‹"
}

.icon-11circle::before,
.icon-11circle::after {
    content: "ïŒ"
}

.icon-12circle::before,
.icon-12circle::after {
    content: "ï"
}

.icon-13circle::before,
.icon-13circle::after {
    content: "ïŽ"
}

.icon-14circle::before,
.icon-14circle::after {
    content: "ï"
}

.icon-15circle::before,
.icon-15circle::after {
    content: "ï"
}

.icon-16circle::before,
.icon-16circle::after {
    content: "ï‘"
}

.icon-17circle::before,
.icon-17circle::after {
    content: "ï’"
}

.icon-18circle::before,
.icon-18circle::after {
    content: "ï“"
}

.icon-19circle::before,
.icon-19circle::after {
    content: "ï”"
}

.icon-20circle::before,
.icon-20circle::after {
    content: "ï•"
}

.icon-close::before,
.icon-close::after {
    content: "ïž"
}

.icon-closecompact::before,
.icon-closecompact::after {
    content: "ï¤"
}

.icon-paddleleft::before,
.icon-paddleleft::after {
    content: "ïš"
}

.icon-paddleleftcompact::before,
.icon-paddleleftcompact::after {
    content: "ï "
}

.icon-paddleright::before,
.icon-paddleright::after {
    content: "ï›"
}

.icon-paddlerightcompact::before,
.icon-paddlerightcompact::after {
    content: "ï¡"
}

.icon-paddleup::before,
.icon-paddleup::after {
    content: "ïœ"
}

.icon-paddleupcompact::before,
.icon-paddleupcompact::after {
    content: "ï¢"
}

.icon-paddledown::before,
.icon-paddledown::after {
    content: "ï"
}

.icon-paddledowncompact::before,
.icon-paddledowncompact::after {
    content: "ï£"
}

.icon-thumbnailreplay::before,
.icon-thumbnailreplay::after {
    content: "ï—"
}

.icon-thumbnailpause::before,
.icon-thumbnailpause::after {
    content: "ï˜"
}

.icon-thumbnailplay::before,
.icon-thumbnailplay::after {
    content: "ï™"
}

.icon-externalrtl::before,
.icon-externalrtl::after {
    content: "ïŒ³"
}

.icon-questionrtl::before,
.icon-questionrtl::after {
    content: "ïŒ²"
}

.icon-questioncirclertl::before,
.icon-questioncirclertl::after {
    content: "ïŒ°"
}

.icon-questionsolidrtl::before,
.icon-questionsolidrtl::after {
    content: "ïŒ±"
}

.more::before,
.more::after {
    content: "ïŒ"
}

.more-block {
    margin-top: .5em
}

.icon-wrapper .icon,
.icon-wrapper .more::after,
.icon-wrapper .icon-before::before,
.icon-wrapper .icon-after::after {
    display: inline;
    position: static
}

a.icon-wrapper {
    text-decoration: none
}

a.icon-wrapper:hover .icon-copy {
    text-decoration: underline
}