.feature-media-object {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0
}

@media only screen and (max-width: 734px) {
    .feature-media-object {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (max-width: 734px) {
    .feature-media-object {
        z-index: 2
    }
}

.feature-toggle {
    position: absolute;
    display: none
}

.feature-toggle~.feature-cta .close-copy {
    display: none
}

.feature-toggle:checked~.feature-media-object .video-wrapper {
    opacity: 0
}

@media only screen and (max-width: 1068px) {
    .feature-toggle:checked~.feature-media-object .video-wrapper {
        opacity: 0.2
    }
}

.video-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.video-wrapper .image-tilt-startframe {
    position: relative;
    z-index: 3
}

.video-wrapper video {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100%)
}


.playback-control-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    z-index: 3;
    bottom: 20px
}

.playback-control {
    display: block;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    margin: auto
}

.playback-control.is-paused {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_2__ciu8vkz233ma_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .playback-control.is-paused {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_2__ciu8vkz233ma_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .playback-control.is-paused {
        width: 31px;
        height: 31px;
        background-size: 31px 31px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_2__ciu8vkz233ma_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .playback-control.is-paused {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_2__ciu8vkz233ma_medium_2x.png")
    }
}

.playback-control.is-paused:hover {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_1__f5kstp3e9aem_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .playback-control.is-paused:hover {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_1__f5kstp3e9aem_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .playback-control.is-paused:hover {
        width: 31px;
        height: 31px;
        background-size: 31px 31px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_1__f5kstp3e9aem_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .playback-control.is-paused:hover {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_play_1__f5kstp3e9aem_medium_2x.png")
    }
}

.playback-control.is-playing {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_2__b4ywbsdnb4uu_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .playback-control.is-playing {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_2__b4ywbsdnb4uu_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .playback-control.is-playing {
        width: 31px;
        height: 31px;
        background-size: 31px 31px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_2__b4ywbsdnb4uu_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .playback-control.is-playing {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_2__b4ywbsdnb4uu_medium_2x.png")
    }
}

.playback-control.is-playing:hover {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_1__b5yrn8rilfle_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .playback-control.is-playing:hover {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_1__b5yrn8rilfle_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .playback-control.is-playing:hover {
        width: 31px;
        height: 31px;
        background-size: 31px 31px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_1__b5yrn8rilfle_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .playback-control.is-playing:hover {
        background-image: url("https://www.apple.com/v/privacy/q/images/overview/button_stop_1__b5yrn8rilfle_medium_2x.png")
    }
}

.playback-control:focus {
    -webkit-box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
    box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
    outline: none
}

.playback-control:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
.playback-control:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    -webkit-box-shadow: none;
    box-shadow: none
}

.playback-control.is-loading {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: clockwise;
    animation-name: clockwise
}

.playback-control.is-playing,
.playback-control.is-paused {
    -webkit-animation: none;
    animation: none
}


@-webkit-keyframes clockwise {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes clockwise {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


.card-gallery {
    --viewport-content: 980px;
    --grid-gap: 20px;
    --item-border-radius: 30px;
    --item-width: 401px;
    --item-min-height: 740px;
    position: relative;
    margin-top: 57px
}

@media only screen and (max-width: 1068px) {
    .card-gallery {
        --viewport-content: 692px;
        --grid-gap: 20px;
        --item-border-radius: 20px;
        --item-width: 330px;
        --item-min-height: 610px
    }
}

@media only screen and (max-width: 734px) {
    .card-gallery {
        --viewport-content: 87.5%;
        --item-width: 300px;
        --item-min-height: 520px
    }
}

@media only screen and (max-width: 342.85714px) {
    .card-gallery {
        --item-width: 87.5vw
    }
}

@media only screen and (max-width: 1068px) {
    .card-gallery {
        margin-top: 50px
    }
}

@media only screen and (max-width: 734px) {
    .card-gallery {
        margin-top: 36px
    }
}

.card-gallery ::-webkit-scrollbar {
    display: none
}

.card-gallery .gallery-item {
    position: relative;
    overflow: hidden;
    width: var(--item-width);
    min-height: var(--item-min-height);
    border-radius: var(--item-border-radius);
    z-index: 1;
    -webkit-mask-image: -webkit-radial-gradient(white, black)
}

@media only screen and (max-width: 734px) {
    .card-gallery .gallery-item {
        max-width: var(--item-width);
        scroll-snap-align: center
    }
}

.card-gallery .gallery-item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.card-gallery .gallery-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.card-gallery .gallery-video .feature-media-object {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.card-gallery .gallery-video .video-wrapper {
    position:
        /*initial*/
        absolute;
}

.card-gallery .gallery-video video {
    -o-object-fit: cover;
    object-fit: cover
}

.card-gallery .gallery-video .playback-control {
    opacity: 1
}


.card-gallery .gallery-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card-gallery .gallery-content-headline {
    max-width: 330px;
    padding: 37px 26px 36px 40px;
    color: #dcdbdc;
}

.theme-dark .card-gallery .gallery-content-headline {
    color: #f5f5f7;
}

@media only screen and (max-width: 1068px) {
    .card-gallery .gallery-content-headline {
        padding: 29px 30px
    }
}

@media only screen and (max-width: 734px) {
    .card-gallery .gallery-content-headline {
        max-width: 210px;
        padding: 25px 23px
    }
}

.card-gallery .modal-trigger {
    position: absolute;
    bottom: 20px;
    right: 29px
}

.card-gallery .svg-plus {
    opacity: 0.7
}

@media only screen and (max-width: 1068px) {
    .card-gallery .svg-plus {
        width: 30px
    }
}

.card-gallery .svg-plus:hover {
    opacity: 1
}

.section-gallery {
    padding-top: 170px
}

@media only screen and (max-width: 1068px) {
    .section-gallery {
        padding-top: 140px
    }
}

@media only screen and (max-width: 734px) {
    .section-gallery {
        padding-top: 100px
    }
}

.section-gallery .card-gallery-headline {
    max-width: 10em
}

.gallery-content-headline {
    font-weight: 600 !important;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
    .gallery-content-headline {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .gallery-content-headline {
        font-size: 28px;
        line-height: 1.14286;
        font-weight: 600;
        letter-spacing: .007em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.gallery-item .image-tilt-startframe {
    width: 532px;
    height: 650px;
    background-size: 532px 650px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/privacy/q/images/overview/safari_startframe__ewv8osgctjma_large.jpg")
}


@media only screen and (max-width: 1068px) {
    .gallery-item .image-tilt-startframe {
        width: 368px;
        height: 450px;
        background-size: 368px 450px;
        background-repeat: no-repeat;
    }
}


@media only screen and (max-width: 734px) {
    .gallery-item .image-tilt-startframe {
        width: 320px;
        height: 390px;
        background-size: 320px 390px;
        background-repeat: no-repeat;
    }
}


.gallery-item {
    --item-min-height: 492px
}

@media only screen and (max-width: 1068px) {
    .gallery-item {
        --item-min-height: 405px
    }
}

@media only screen and (max-width: 734px) {
    .gallery-item {
        --item-min-height: 368px
    }
}

.gallery-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

.image-tilt-startframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover
}

.gallery-video {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    min-height: var(--item-min-height)
}


.gallery-item {
    background: #041725
}


.typography-gallery-section-headline {
    font-size: 72px;
    line-height: 1.05556;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
    .typography-gallery-section-headline {
        font-size: 58px;
        line-height: 1.06897;
        font-weight: 600;
        letter-spacing: -.003em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 734px) {
    .typography-gallery-section-headline {
        font-size: 48px;
        line-height: 1.08349;
        font-weight: 600;
        letter-spacing: -.003em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}